
  .main{
    font-family: Fira Sans;
    margin: 20px 100px; 
    gap:80;
    text-align: left;
    display:flex;
    flex-direction: column;  
    background-color: rgb(248, 244, 244);
  }
 .banner{
display: flex;
justify-content: flex-start;
align-items: flex-start;
border-radius: 28px;
background: rgb(198, 228, 214);
margin: 20px 10px 20px 10px; 
padding: 80px 100px 80px 100px;  
 
 }
.banner-titel{
color: rgba(14, 14, 14, 0.5);

font-size: 24px;
font-weight: 500; 
line-height: 29px; 
text-align: left;
}
 .banner-content{
color: rgb(14, 14, 14);
font-size: 50px;
font-weight: 700;
width: 520px;

 }
 .btn{ 
  border-radius: 10px; 
  margin: 24px 0px;
  padding: 17px 34px 17px 34px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600; 
  background: rgb(0, 106, 80); 
 }

.banner-pic
{
width: 474px;
height: auto;
}
.section-titel{
  color: rgb(14, 14, 14);
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
.section-description{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
 .vision{
  
    display: flex;
    margin: 80px 100px;
  }
 
.vision-container
{
  display: flex;
  gap: 24px;

}
.vision-types1{
font-weight: 700;
margin: 0px 24px;
padding: 32px;
box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
.vision-types2{
font-weight: 700;
 margin: 0px 24px;
padding: 32px;
box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
}
.vision-types3{
  font-weight: 700;
  margin: 0px 24px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color:rgb(247, 235, 207);

}
 .visoin .vision-description{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
} 
.bt1{
padding: 11px 20px 11px 20px;
margin: 24px 0px;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border-radius: 8px;
background: rgb(84, 144, 245);
}
.bt2{
padding: 11px 20px 11px 20px;
margin: 24px 0px;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border-radius: 8px;
background-color:rgb(9, 161, 92);
}
.bt3{
padding: 11px 20px 11px 20px;
margin: 24px 0px;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border-radius: 8px;
background-color:rgb(255, 194, 57);
}
.header {
  text-align: start;
  margin-bottom: 30px;
}
.news-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  padding: 48px;
  border-radius: 10px;
 

}
.pic{
  border-radius: 24px;
}
.titel{
  color: rgba(14, 14, 14, 0.7);
  margin: 0px 32px;
}
 .news-content{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  gap: 12;
  align-self: stretch; 
  padding: 20px;
  flex: 1;
 }
 .b{
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 22px;
text-align: left;
border-radius: 8px;
background: rgb(0, 106, 80);
gap: 48;
padding: 13px 26px 13px 26px;
 }
 .donate-section{
display: flex;
flex-direction: column;
text-align: center;
gap: 24;
padding: 0px;
 }
 
 .donate{
color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
 }
 .b1{

border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
font-size: 30px;
font-weight: 700;
margin: 0px 24px;
gap: 24;
padding: 40px;
background: rgb(255, 255, 255);
 }
 .b2{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(198, 228, 214);
font-size: 30px;
font-weight: 700;
margin: 0px 24px;
gap: 24;
padding: 40px;

 }
 .custom-amount input{
   width: 960px; 
  padding: 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  gap: 24;

 }
 .donate-button{
    padding: 15px 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: #028858;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    background-color: rgb(0, 106, 80);
    width: 150px;

 }

 
 


 